{% extends "login_base.html" %}
{% block content %}
    {#      <form action="" method="post">#}
    {#        {% csrf_token %}#}
    {#        <label for="username">User name:</label>#}
    {#        <input type="text" name="username" value="" id="username" class="input-block-level">#}
    {#        <label for="password">Password:</label>#}
    {#        <input type="password" name="password" value="" id="password">#}
    {##}
    {#        <input type="submit" value="login" />#}
    {#        <input type="hidden" name="next" value="{{ next|escape }}" />#}
    {#      </form>#}
    <form class="margin-base-vertical" action="" method="post">
        {% csrf_token %}
        <p class="input-group">
            <span class="input-group-addon"><span class="icon-user"></span></span>
            <input type="text" class="form-control input-lg" name="username" placeholder="Jeremy" />
        </p>

        <p class="input-group">
            <span class="input-group-addon"><span class="icon-lock"></span></span>
            <input type="password" class="form-control input-lg" name="password"placeholder=""/>
        </p>

        <p class="help-block text-center">
            <small>We won't send you spam. Unsubscribe at any time.</small>
        </p>
        <p class="text-center">
            <button type="submit" class="btn btn-success btn-lg">Login in</button>
            <a class="btn btn-success btn-lg"href="{%url "register"%}">Sign up</a>
        </p>
    </form>
    {% if form.errors %}
        <p class="text-error">Sorry, that's not a valid username or password</p>
    {% endif %}

{% endblock %}


{% block errormessage %}
    {% if messages %}
        {% for message in messages %}
            <p class="text-error">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}